<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cpee/

    # Si es un archivo o directorio existente, lo sirve directamente (ej: css, js, imagenes)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # De lo contrario, redirigir a index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
